{
  http_port     8080
  https_port    8443
  debug
}

https://localhost {
  route {{ auth }}* {
    auth_portal {
      path {{ auth }}
      backends {
        local_backend {
          method local
          path /etc/caddy/users.json
          realm local
        }
      }
      jwt {
        token_name {{ token.name }}
        token_secret {{ token.secret }}
      }
      ui {
        links {
          "caasap-target" /
          "caasap-target public" /public
          "caasap-target protected" /protected
          "caasap-target forbidden" /protected
        }
      }
    }
  }

  # generated rules (start)
  {% for rule in rules %}
    {% if rule.get('action', 'allow') == 'allow' -%}
      route {{ rule.path }} {
        {% if rule.get('public', false) == false -%}
          jwt{% if jwt_bloc(rule) %} {
            {% if jwt_bloc1() -%}
              primary yes
              trusted_tokens {
                static_secret {
                  token_name {{ token.name }}
                  token_secret {{ token.secret }}
                }
              }
              auth_url {{ auth }}
            {%- endif %}
            {% if 'roles' in rule -%}
              allow roles {{ ' '.join(rule.roles) }}
            {%- endif %}
          }
          {% else %}
          {% endif -%}
        {% endif -%}
        reverse_proxy {{ backend }}
      }
    {%- else %}
      respond {{ rule.path }} 403
    {% endif -%}
  {% endfor -%}
  # generated rules (end)
}